<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stereo Hearts</title>
</head>
<body>
    <form action="/profile" method="post">
        <button name="home" value="profile" type="submit"><%= username %></button>
    </form>

    <form action="/" method="post">
        <button name="home" value="logout" type="submit">Logout</button>
    </form>

    <form action="/history" method="post">
        <button name="home" value="history" type="submit">history</button>
    </form>

    <form action="/playlist" method="post">
        <button name="home" value="playlist" type="submit">Playlist</button>
    </form>

    <form action="/search" method="post">
        <button name="home" value="search" type="submit">Search</button>
    </form>

    <form action="/liked" method="post">
        <button name="home" value="liked" type="submit">Liked</button>
    </form>


    <%  songslist.forEach(item => {%>
        <form action="/songs" method="post">
            <button name="song" value="<%= item.name %>"><h2><%= item.artist %> - <%= item.name %></h2></button>
        </form>
        
    <%})%>

    
</body>
</html>