<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="log.css">
</head>
<body>
    <form action="/" method="post">
        <button name="home" value="login" type="submit"><%= username %></button>
    </form>

    <button class="btnlogin-popup">create new playlist</button>
    <div class="wrapper">
        <span class="icon-close">
           <ion-icon name="close"></ion-icon> 
          <!-- <ion-icon name="close-outline"></ion-icon>  -->
        </span>
    
        <div class="form-box login">
          <h2>Create New Playlist</h2>
          <form action="/playlist" method="post" >
            <div class="input-box">
              <input type="text" required name="playlistname">
              <label>Enter playlist name</label>
            </div>
            <button type="submit" class="btn" name="create" value="create">Create</button>
          </form>
        </div>
        </div>



    <%  playlists.forEach(item => {%>
        <form action="/playlist-songs" method="post">
            <button name="playlistname" value="<%= item.playlistname %>"><h2><%= item.playlistname %></h2></button>
        </form>
        
    <%})%>

    <script src="playlists.js"></script>
</body>
</html>