body{
    background-image: url(images/2183086.jpg);
}

.profile-box{
    z-index: 1;
    background-color:rgb(67, 4, 74);
    box-shadow:0 0 35px rgb(117, 13, 51);
    border-radius:30px;
    padding: 10%;
    color: white;
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 8%;
}

.profile-pic{
    border-radius: 50%;
    width: 200px;
}

.profile-pic:hover{
    border:3px solid  rgb(172, 14, 159);
    box-shadow: 0 0 40px pink;
    opacity: 0.5;
}

.side-heading-col{
    color: #F9D7C0;
}