@import url('https://fonts.google.com/specimen/Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background:linear-gradient(50deg,rgb(76, 175, 221),rgb(30, 159, 195),rgb(74, 159, 177),rgb(8, 117, 131),rgb(5, 36, 91),rgb(0, 7, 11));
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.mainpage .wrapper{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  z-index:-1;
}
.mainpage .wrapper .box div{
  position:absolute;
  width:60px;
  height:60px;
  background-color: transparent;
  border:5px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
  top:12%;
  left:42%;
  animation:animate 10s linear infinite;
}

.box div:nth-child(2){
  top:70%;
  left:50%;
  animation:animate 7s linear infinite;
}

.box div:nth-child(3){
  top:17%;
  left:6%;
  animation:animate 9s linear infinite;
}

.box div:nth-child(3){
  top:20%;
  left:60%;
  animation:animate 10s linear infinite;
}

.box div:nth-child(4){
  top:20%;
  left:60%;
  animation:animate 10s linear infinite;
}

.box div:nth-child(5){
  top:67%;
  left:10%;
  animation:animate 6s linear infinite;
}

.box div:nth-child(6){
  top:80%;
  left:70%;
  animation:animate 12s linear infinite;
}

.box div:nth-child(7){
  top:60%;
  left:80%;
  animation:animate 15s linear infinite;
}

.box div:nth-child(8){
  top:32%;
  left:25%;
  animation:animate 16s linear infinite;
}

.box div:nth-child(9){
  top:90%;
  left:25%;
  animation:animate 9s linear infinite;
}

.box div:nth-child(10){
  top:80%;
  left:70%;
  animation:animate 5s linear infinite;
}

@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity:1;
  }

  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity:0;
  }
}

.logo {
  font-size: 2em;
  color: #e0cece;
  user-select: none;
}

h3 {
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;
    color: white;		 
 }	  

.mainpage .searchbox{
  display:flex;
  flex-direction:column;
  margin-top:100px;
}

.row{
  display:flex;
  flex-direction:row;
  height:50px;
}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}
.input-box {
  /*position: relative;*/
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: black;
  line-height: 57px;
}
.result-box ul{
    /* display:flex;
    flex:1;
    flex-direction:row; */
    border-top:1px solid #999;
    padding: 15px 10px;
  }
  
  .result-box ul li{
    list-style:none;
    display:flex;
    flex-direction:column;
    flex:1;
    border-radius:3px;
    padding:15px 10px;
    cursor:pointer;
  }
  
  .result-box ul li:hover{
    background:#e9f3ff;
  }

.remember-forgot {
  font-size: 0.9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}
.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}


.div1 {
    
    height: 600px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 50px;

    flex-direction: column;
    -webkit-text-fill-color: aliceblue;
}

.background-clip{
    position:absolute;
    bottom:0;
    z-index:-1;
}

@media(min-aspect-ratio:16/9){
    .background-clip{
        width:100%;
        height:800px;
    }
}


.div1,body,html {

    height: 100vh;
}

form {
    margin: auto;
}

.btn {
    border-radius: 0rem;
}

.navbar-brand {
    margin-left: 10%;
}

.count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    /* box-shadow: 0px 2px 35px rgb(0 0 0 / 6%); */
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;

}

.num {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 1px;
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 500px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg:rgb(14, 2, 2);
    --border-color:  #45ce2f;
    --border-width:50px;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    margin-bottom:420px;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    -webkit-text-fill-color: rgb(244, 236, 236);
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }


/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.searchresult {
  margin-top: 10px;
  background-color:transparent;
  border:none;
  border-left:4px solid rgb(90, 10, 90);
  margin-bottom: 10px;
  margin-left:30%;
}

.searchresult p{
  color:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  transition:0.5s;
}

.searchresult :hover{
  color:#0bcfc5;
  background-color:rgb(90, 10, 90);
}

.searchresult p:hover{
  letter-spacing:0.3rem;
}